#container {
    height: 350px;
    width: 358px;
    display: flex;
    flex-wrap: wrap;
}



.gridDiv {
    height: 20px;
    width: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.gridDiv:hover {
    background-color: black;
}