#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




#container {
    height: 320px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    align-content: stretch;
}



.gridDiv {
    height: 20px;
    width: 20px;
    flex-grow: 1;
    flex-shrink: 3;
    display: inline-block;

}

/*.gridDiv:hover {
    background-color: black;
}*/

.gridDivHover {
    background-color: black;
}

#gridDivHover {
    background-color: black;
}